{% extends 'base.html'%}
{% block content %}

<h1>Customer Records</h1>
<div class="card">
  <div class="card-header">
    {{ customer_record.id }}
  </div>
  <div class="card-body">
	      <h5 class="card-title">{{ customer_record.first_name }} {{ customer_record.last_name }}</h5>
			<strong>Email: </strong>{{ customer_record.email }}<br>
			<strong>Phone: </strong>{{ customer_record.phone }}<br>
			<strong>Address: </strong>{{ customer_record.address }}<br>
			<strong>City: </strong>{{ customer_record.city }}<br>
			<strong>Postcode: </strong>{{ customer_record.postcode }}<br>
			<strong>Created at: </strong>{{ customer_record.created_at }}



  </div>
</div>

<br></br>
<a href="{%url 'home' %}"class="btn btn-secondary">Back</a>
<a href="{%url 'update_customer' customer_record.id %}"class="btn btn-dark">Update</a>
<a href="{%url 'delete_customer' customer_record.id %}"class="btn btn-danger">Delete</a>






{% endblock %}